.left-star{
  display: inline-flex;
}
.star{
  display: flex;
  margin-right: 1.5rem;
  margin-top: 1rem;
}
.star img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.star-two-row{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.star-name{
  font-size: 14px;
}
.star-known{
  font-size: 12px;
  color: rgb(184, 184, 184);
}