.list{
  font-family: var(--font);
  margin-left: 10rem;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.list p {
  font-weight: 600;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  margin: 1rem 0 0 0;
}
.list img{
  width: 240px;
  border-radius: 20px;
  margin-top: 1rem;
  /* margin-inline: 1rem; */
  cursor: pointer;
  height: 360px;

}
.list-card{
  padding: 0 1rem;
}

.Ptitle{
  margin-top: 1rem;
  cursor: pointer;
}
.Pminute{
  color: gray;
  font-size: 14px;
  margin-left: 0;
}
.rank{
  background-color: #2c253e;
  color: white;
  padding: 0 10px;
  margin-left: 1rem;
}
@media screen and (max-width: 501px){
  .list{
    margin-left: 1rem;
    justify-content: center;
  }
  .maintitle{
    margin-left: 1rem;
    
  }
}